@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Quattrocento", serif;

}
button {
    background-color: black;
    color: white;
    font-family: sans-serif;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: none;
    border: none;
}
button:focus {
    outline: none;
}
button:hover {
    background-color: #363535;
    transition: 0.4s;
    cursor: pointer;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.navbar .left {
    margin-left: 30%;
}
.navbar .right {
    margin-right: 30%;
}
.navbar li {
    list-style: none;
    font-size: 17px;
}
.navbar li a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
}
.navbar li a:hover {
    color: #a17b62;
    transition: 0.5s;
    cursor: pointer;
}
.logo {
    width: 300px;
}
.header-img {
    width: 100%;
    border-bottom-right-radius: 90%;
}
.header-img-cnt {
    position: relative;
}
.h {
    position: absolute;
    top:18%;
    left: 45%;
    font-size: 6em;
    color: white;
    font-weight: 400;
}
.f {
    position: absolute;
    top:20%;
    left: 49%;
    font-size: 6em;
    color: white;
    font-weight: 400;
}
.slogan {
    position: absolute;
    top:30%;
    left: 38%;
    color: whitesmoke;
    font-size: 2em;
    text-transform: uppercase;
}
.titles {
    text-transform: uppercase;
    font-size: 2em;
    color: #666;
    text-align: center;
    margin-top: 10%;
    font-family: "Quattrocento", serif;
    font-weight: 400;
}
.underline {
    width: 13em;
    height: 0.175em;
    margin: 2em auto;
    background-color:#a17b62;
}
.grid-cnt img {
    width: 26vw;
}

.grid-cnt {
    margin-top: 15%;
    width: 80%;
    margin: 15% auto;
    display: grid;
    grid-template-columns: repeat(3, 32.7%);
    gap: 0.4em;
}
.grid-cnt h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: #333333;
    margin-top: 5%;
    font-size: 1.53em;
    text-align: center;
}
.second-el, .fourth-el, .sixth-el {
    background-color: rgb(233, 228, 223);
}
.grid-cnt p {
    text-transform: uppercase;
    text-align: center;
    margin-top: 1.9em;
}
.grid-cnt span {
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.grid-cnt button {
    margin-left: 27%;
    margin-top: 10%;
}

.bar {
    width: 100vw;
    height: 30vh;
    text-align: center;
    background: linear-gradient(to bottom, rgb(69, 68, 68), rgb(187, 180, 180));
}
.bar h3 {
    text-transform: uppercase;
    padding-top: 2%;
    color: white;
    font-family: 'Quattrocento';
    font-weight: 400;
}
.bar p {
    color: white;
    padding-top: 2%;
    font-size: 1em;
    width: 40%;
    margin: 1% auto;
}
.title-btn {
    margin: 2% 45% 0;
}

.sec-flx {
    display: flex;
    font-size: 1.1em;
    width: 95%;
    margin: 7% auto 0;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}
.img {
    width: 100%;
}
.img:hover {
    transform: scale(1.04);
    transition: 0.5s;
    opacity: 0.5;
    cursor: pointer;
}
.titles {
    text-transform: uppercase;
    font-size: 1.3em;
    color: #666;
    text-align: center;
    margin-top: 10%;
    font-family: "Quattrocento", serif;
    font-weight: 400;
}
.underline {
    width: 20%;
}
.spann {
    display: inline-block;
}

footer {
    background-color: #f3f0ed;
}

.footer-cnt {
    font-family: 'Quattrocento';
    text-transform: uppercase;
    width: 70vw;
    color: #666;
    margin: 15% auto 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 3em;
    padding-top: 4em;
    
}

.footer-cnt h3 {
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;

}
.footer-cnt li {
    list-style: none;
    line-height: 3em;

}
.footer-cnt li a {
    text-decoration: none;
    color: #666;
}
.footer-cnt li a:hover {
    color: #a17b62;
    transition: 0.4s;
    cursor: pointer;
}
.third ul {
    text-align: center;
}
.second {
    flex: 2;
}
input {
    margin-top: 2em;
    margin-right: 1em;
    padding: 5px;
    width: 47.6%;
    border: none;
    height: 2.5em;
}
input:focus {
    outline: none;
}
.footer-cnt button {
    margin: 3% 0% 0% 85.5%;
    width: 6em;
    background-color:#333333;
}
.footer-cnt button:hover {
    background-color: transparent;
    color: black;
    border: 5px solid black;
    cursor: pointer;
    transition: none;
}
textarea {
    width: 97.9%;
    padding: 5px;
    font-family: 'Quattrocento';
    font-size: 1em;
    border: none;
    margin-top: 1%;
}
textarea:focus {
    outline: none;
}
.links ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    font-size: 2em;
    list-style: none;
}
.links a {
    color: #333333;
    text-decoration: none;
}
.links a:hover {
    color: #a17b62;
    transition: 0.4s;
    cursor: pointer;
}
.copy {
    text-align: center;
    margin-top: 3%;
    font-size: 0.9em;
    text-transform: uppercase;
    background-color: #333333;
    color: white;
    font-weight: 400;
    height: 3.3em;
    padding-top: 13px;
}
.copy a {
    color: white;
    text-decoration: none;
}
.copy a:hover {
    color: #eab897;
    transition: 0.4s;
    cursor: pointer;
}
